In [ ]:
# Import Library
import pandas as pd
from sklearn.tree import DecisionTreeClassifier # Import Decision Tree Classifier
from sklearn.model_selection import train_test_split # Import train_test_split function
from sklearn import metrics #Import scikit-learn metrics module for accuracy calculation
from sklearn import svm
from sklearn.model_selection import KFold

In [ ]:
from google.colab import files
uploaded = files.upload()

Saving carevaluation.csv to carevaluation (1).csv

In [ ]:
df = pd.read_csv("carevaluation.csv")

In [ ]:
df.head()

  buying  maint doors persons lug_boot safety acceptability
0  vhigh  vhigh     2       2    small    low         unacc
1  vhigh  vhigh     2       2    small    med         unacc
2  vhigh  vhigh     2       2    small   high         unacc
3  vhigh  vhigh     2       2      med    low         unacc
4  vhigh  vhigh     2       2      med    med         unacc

In [ ]:
for col in df.columns:
    df[col] = df[col].astype('category')
    df[col] = df[col].cat.codes

In [ ]:
df.head(1000)

     buying  maint  doors  persons  lug_boot  safety  acceptability
0         3      3      0        0         2       1              2
1         3      3      0        0         2       2              2
2         3      3      0        0         2       0              2
3         3      3      0        0         1       1              2
4         3      3      0        0         1       2              2
..      ...    ...    ...      ...       ...     ...            ...
995       2      0      0        2         1       0              0
996       2      0      0        2         0       1              2
997       2      0      0        2         0       2              0
998       2      0      0        2         0       0              0
999       2      0      1        0         2       1              2

[1000 rows x 7 columns]

In [ ]:
X = df[['buying', 'maint', 'doors', 'persons', 'lug_boot','safety']]
y = df["acceptability"]

**Data 90%-10%**

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.1, random_state=1)

In [ ]:
# Membuat Decision Tree Classifer
clf = DecisionTreeClassifier(max_depth=5)

# Train Decision Tree Classifer
clf = clf.fit(X_train,y_train)

# Predict datatest
y_pred = clf.predict(X_test)

In [ ]:
# Menghitung akurasi
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

Accuracy: 0.8728323699421965

**Data 80%-20%**

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=1)

In [ ]:
# Membuat Decision Tree Classifer
clf = DecisionTreeClassifier(max_depth=5)

# Train Decision Tree Classifer
clf = clf.fit(X_train,y_train)

# Predict datatest
y_pred = clf.predict(X_test)

In [ ]:
# Menghitung akurasi
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

Accuracy: 0.861271676300578

**Data 70%-30%**

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=1)

In [ ]:
# Membuat Decision Tree Classifer
clf = DecisionTreeClassifier(max_depth=5)

# Train Decision Tree Classifer
clf = clf.fit(X_train,y_train)

# Predict datatest
y_pred = clf.predict(X_test)

In [ ]:
# Menghitung akurasi
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

Accuracy: 0.8631984585741811

**Data 60%-40%**

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.4, random_state=1)

In [ ]:
# Membuat Decision Tree Classifer
clf = DecisionTreeClassifier(max_depth=5)

# Train Decision Tree Classifer
clf = clf.fit(X_train,y_train)

# Predict datatest
y_pred = clf.predict(X_test)

In [ ]:
# Menghitung akurasi
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

Accuracy: 0.8497109826589595

**Data 50%-50%**

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.5, random_state=1)

In [ ]:
# Membuat Decision Tree Classifer
clf = DecisionTreeClassifier(max_depth=5)

# Train Decision Tree Classifer
clf = clf.fit(X_train,y_train)

# Predict datatest
y_pred = clf.predict(X_test)

In [ ]:
# Menghitung akurasi
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

Accuracy: 0.875

**Data 40%-60%**

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.6, random_state=1)

In [ ]:
# Membuat Decision Tree Classifer
clf = DecisionTreeClassifier(max_depth=5)

# Train Decision Tree Classifer
clf = clf.fit(X_train,y_train)

# Predict datatest
y_pred = clf.predict(X_test)

In [ ]:
# Menghitung akurasi
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

Accuracy: 0.8775313404050145